Voting.Domain/bin/
Voting.Domain/obj/

Voting.Domain.Infra/bin/
Voting.Domain.Infra/obj/

Voting.Domain.Tests/bin/
Voting.Domain.Tests/obj/

Voting.Domain.Api/bin/
Voting.Domain.Api/obj/

.vscode/
.idea/
